/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Abel', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Jost', sans-serif;
    font-family: 'Nabla', system-ui;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul , li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container img{
    max-width: 80%;
}



/* Ripetitivi */

.container{
    margin: 0 auto;
    max-width: 1000px;
}

.row-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px 30px 30px;
}

a{
    text-decoration: none;
    color: white
}

p{
    font-size: 18px;
}

.bg-grey{
    background-color:#F7F7F7;
    
   }


.bg-color{
    background-color: white;
    
}  

.wave{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-size: cover;
}

.wave img{
    filter: invert(97%);
}

.wave-reverse{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-size: cover; 
}

.wave-reverse img{
    filter: invert(100%);
    transform: scaleX(-1);   
}










 /* LAYOUT */


header{
    background-color:#255ee9
}


.header{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.logo img{
    padding-top: 10px;
}


.link-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.link-list a{
    font-size: 15px;
}

.login{
    padding: 5px 10px;
    background-color: white;
    border-radius: 10%;
}


.login a{
    color: black;
}


.bg-mainimg{
    background-image: url(../img/discord/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.center{
    justify-content: center;
}

.col{
    max-width: 70%;
    min-height: 300px;
    text-align: center;
    color: white;
}

.col h2{
    padding: 40px;
    font-weight: 800;
}

button{
    margin-top: 50px;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    font-family: 'Abel', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Jost', sans-serif;
    font-family: 'Nabla', system-ui;
    font-family: 'Roboto', sans-serif;
    
}

.ios {
    background-color: white;
}

 .browser {
    background-color: black;
    color: white;
    margin-left: 20px;
}

.padding20{
    padding-top: 130px;
}



.col-1{
    max-width: 70%;
    min-height: 200px;
    
}

.col-2{
    max-width: 30%;
    min-height: 200px;
    align-self: center;
    
}

.col-2 p{
    margin-top: 40px;
}

.reverse{
flex-direction: row-reverse;
}


.img-reverse{
    position: relative;
    left: 50px;
}


.col-3{
    max-width: 100%;
    min-height: 500px;
    text-align: center;
    
}

.col-3 p{
    margin-top: 30px;
}

.background{
    background-image: url(../img/discord/stars.svg);
    text-align: center;
    min-width: 500px;
    background-size: contain;
    
}



.download-ios{
    border-radius: 20px;
    background-color:rgb(44, 103, 199);
    margin-top: 20px;

}

.download-ios:hover{
     color: white;
}

.foot-bg-color{
    background-color: rgb(55, 55, 55);
    
}

.main-footer{
    justify-content: center;
    border-bottom: 1px solid rgb(44, 103, 199);
    padding-top: 50px;
}


.col-4{
    padding-left: 20px;
    padding-right: 20px;
    color:rgb(44, 103, 199) ;
    max-width: calc(*2 100% / 6);
    min-height: 200px;
    
}

.col-4 img{
    max-width: 20px;
    margin-top: 10px;
}

.lenguage{
    background: none;
    border: none;
    color: white;
    margin-top: 10px;
}

.icon{
    margin-top: 20px;
}

.icon >a img{
    min-width: 30px;
}


.col-5 , .col-6 , .col-7 , .col-8{
    padding-left: 20px;
    padding-right: 20px;
    min-width: calc(100% / 6);
    min-height: 200px;
}

.col-5 , .col-6 , .col-7 , .col-8 , h4{
    color:rgb(44, 103, 199);
    
    
}

.col-5 , .col-6 , .col-7 , .col-8 , li{
    color: white;
    font-size: 12px;
    margin-top: 5px;
}

.footer{
    padding: 20px 20px 50px 20px;
}


.col-footer{
    min-width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sing-in{
    margin: 0;
    background-color:rgb(44, 103, 199);
    color: white ;
    
}






