/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Abel', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Jost', sans-serif;
font-family: 'Nabla', system-ui;
font-family: 'Roboto', sans-serif;
}

ul , li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container img{
    max-width: 100%;
}



/* DEBUG */

.debug .container{
    margin: 0 auto;
    max-width: 800px;
}



.debug .header{
    justify-content: space-between;
    align-items: center;
}
 


.debug .bg-color-blue{
    background-color: blue;
}

.debug .bg-color-white{
    background-color: white;
}

.debug .bg-color-cecece{
    background-color: #cecece;
}

.debug .bg-color-dedede{
    background-color: #dedede;
}

.debug .foot-bg-color{
    background-color: rgb(55, 55, 55);
}

.debug .foot-link-bg-color{
    background-color: rgb(108, 107, 107);
}

.debug .col-5 , .col-6 , .col-7 , .col-8{
    border: 1px solid black;
}

.debug .footer{
    padding: 20px 20px 0 20px;
}

.debug .button-footer , .logo-footer{
    border: 1px solid black;
}



/* LAYOUT */

header{
    background-color:rgb(84, 96, 205)
}

.center{
    justify-content: center;
}

.logo img{
    padding-top: 10px;
}


.link-list{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

a{
    text-decoration: none;
    color: white
}

.login{
    padding: 10px;
    background-color: white;
    border-radius: 10%;
    
    
}

.login a{
    color: black;
}

.row-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}



.col{
    min-width: 70%;
    min-height: 200px;
    background-color: pink;
}

.col-1{
    min-width: 70%;
    min-height: 200px;
    background-color: blue;
}

.col-2{
    min-width: 30%;
    min-height: 200px;
    background-color: pink;
}

.reverse{
flex-direction: row-reverse;
}

.col-3{
    min-width: 100%;
    min-height: 500px;
    background-color: green;
}

.col-4{
    min-width: 220px;
    min-height: 200px;
    background-color: red;
}

.col-5 , .col-6 , .col-7 , .col-8{
    min-width: 110px;
    min-height: 200px;
    background-color: aquamarine;
}




.col-footer{
    background-color: aquamarine;
    min-width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}